<hr />
<div class="row">
    <div class="col-md-6">
        <p class="lead">Registros de Correspondencia</p>
    </div>
    <div class="col-md-6" style="text-align: right;">
        <button pButton pRipple type="button" icon="pi pi-plus-circle" class="p-button-rounded" (click)="displayModal=true; this.isNew = true; myForm.reset();"></button>
    </div>
</div>    
<p-table 
    #dtCor 
    [value]="results"
    selectionMode="single"    
    dataKey="Id"
    styleClass="p-datatable-correspondences"    
    [rows]="5"
    [paginator]="true" 
    stateStorage="local"
    stateKey="statedemo-local">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="ProjectName">Proyecto <p-sortIcon field="ProjectName"></p-sortIcon></th>
            <th pSortableColumn="Customer">Cliente <p-sortIcon field="Customer"></p-sortIcon></th>
            <th pSortableColumn="Phone">Teléfono <p-sortIcon field="Phone"></p-sortIcon></th>
            <th pSortableColumn="StartDate">Fecha Inicio <p-sortIcon field="StartDate"></p-sortIcon></th>
            <th pSortableColumn="EndDate">Fecha Fin<p-sortIcon field="EndDate"></p-sortIcon></th>
            <th pSortableColumn="Price">Precio<p-sortIcon field="Price"></p-sortIcon></th>
            <th pSortableColumn="NumberHours">Horas<p-sortIcon field="NumberHours"></p-sortIcon></th>
            <th pSortableColumn="Status">Estado<p-sortIcon field="Status"></p-sortIcon></th>
            <th pSortableColumn="Acciones">Acciones</th>
        </tr>
        <tr>
            <th>
                <input 
                    pInputText 
                    type="text" 
                    (input)="dtCor.filter($event.target.value, 'ProjectName', 'contains')" 
                    [value]="dtCor.filters['ProjectName']?.value" 
                    placeholder="Buscar por Proyecto" 
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText type="text" 
                    (input)="dtCor.filter($event.target.value, 'Customer', 'contains')" 
                    [value]="dtCor.filters['Customer']?.value" 
                    placeholder="Buscar por Cliente" 
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText type="text" 
                    (input)="dtCor.filter($event.target.value, 'Phone', 'contains')" 
                    [value]="dtCor.filters['Phone']?.value" 
                    placeholder="Buscar por Phone" 
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText type="text" 
                    (input)="dtCor.filter($event.target.value, 'StartDate', 'contains')" 
                    [value]="dtCor.filters['StartDate']?.value" 
                    placeholder="Buscar por Fecha Inicio" 
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText type="text" 
                    (input)="dtCor.filter($event.target.value, 'EndDate', 'contains')" 
                    [value]="dtCor.filters['EndDate']?.value" 
                    placeholder="Buscar por Fecha Fin" 
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText type="text" 
                    (input)="dtCor.filter($event.target.value, 'Price', 'contains')" 
                    [value]="dtCor.filters['Price']?.value" 
                    placeholder="Buscar por Precio"
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText type="text" 
                    (input)="dtCor.filter($event.target.value, 'NumberHours', 'contains')" 
                    [value]="dtCor.filters['NumberHours']?.value" 
                    placeholder="Buscar por Hora"
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText type="text" 
                    (input)="dtCor.filter($event.target.value, 'Status', 'contains')" 
                    [value]="dtCor.filters['Status']?.value" 
                    placeholder="Buscar por Estado"
                    class="p-column-filter">
            </th>
            <th>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-result>
        <tr>
            <td>
                {{result.ProjectName}}
            </td>
            <td>
                {{result.Customer}}
            </td>
            <td>
                {{result.Phone}}
            </td>
            <td>
                {{result.StartDate}}
            </td>
            <td>
                {{result.EndDate}}
            </td>
            <td>
                {{result.Price}}
            </td>
            <td>
                {{ result.NumberHours }}
            </td>
            <td>
                {{ result.Status }}
            </td>
            <td>
                <div class="row" style="text-align:center;">
                    <!-- <div class="col-md-2">
                        <button 
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-trash"
                            (click)="confirmDelete(result.Id)"
                            class="p-button-rounded p-button-info p-button-danger">
                        </button>
                    </div> -->
                    <div class="col-md-2">
                        <button 
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-pencil"
                            (click)="editModal(result.ProjectId)"
                            class="p-button-rounded p-button-info p-button-success">
                        </button>
                    </div>
                </div>
            </td>            
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4">No correspondences found.</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog 
    header="" 
    [(visible)]="displayModal"
    [modal]="true" 
    [style]="{width: '80vw'}" 
    [baseZIndex]="10000" 
    [draggable]="false" 
    [resizable]="false"
    [closable]="false">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Crear Proyecto</h3>
                </div>
                <div class="card-body">
                    <div class="card card-success">
                        <div class="card-header">                    
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="card-title">Registro</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="myForm" #Tablefrm="ngForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h6>Proyecto</h6>
                                            <input 
                                                id="Subject" 
                                                type="text" 
                                                class="form-control"
                                                formControlName="ProjectName"
                                                [ngClass]="{ 'is-invalid': f.ProjectName.invalid && (f.ProjectName.dirty || f.ProjectName.touched) }" />
                                            <div *ngIf="f.ProjectName.errors && (f.ProjectName.dirty || f.ProjectName.touched)" class="invalid-feedback">
                                                <div>El nombre del proyecto es requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h6>Cliente</h6>
                                            <select
                                                class="browser-default custom-select"
                                                formControlName="CustomerId"
                                                [ngClass]="{ 'is-invalid': f.CustomerId.invalid && (f.CustomerId.dirty || f.CustomerId.touched) }">                                                
                                                <option *ngFor="let item of customers" [value]="item.Id">{{ item.Names }} {{ item.Surnames }}</option>
                                            </select>
                                            <div *ngIf="f.CustomerId.errors && (f.CustomerId.dirty || f.CustomerId.touched)" class="invalid-feedback">
                                                <div>El tipo es requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h6>Teléfono</h6>
                                            <input 
                                                id="Subject" 
                                                type="text" 
                                                class="form-control"
                                                formControlName="Phone"
                                                [ngClass]="{ 'is-invalid': f.Phone.invalid && (f.Phone.dirty || f.Phone.touched) }" />
                                            <div *ngIf="f.Phone.errors && (f.Phone.dirty || f.Phone.touched)" class="invalid-feedback">
                                                <div>El teléfono es requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">       
                                        <h6>Fecha Inicio</h6>                                                                         
                                        <p-calendar
                                                inputId="basic"
                                                formControlName="StartDate"
                                                [style]="{'width':'100%'}" 
                                                [inputStyle]="{'width':'100%'}"
                                                [ngClass]="{ 'is-invalid': f.StartDate.invalid && (f.StartDate.dirty || f.StartDate.touched) }"></p-calendar>                                            
                                            <div *ngIf="f.StartDate.errors && (f.StartDate.dirty || f.StartDate.touched)" class="invalid-feedback">
                                                <div>La fecha inicio es requerida</div>
                                            </div>
                                    </div>
                                    <div class="col-md-6">       
                                        <h6>Fecha Fin</h6>                                                                         
                                        <p-calendar
                                            inputId="basic"
                                            formControlName="EndDate"
                                            [style]="{'width':'100%'}" 
                                            [inputStyle]="{'width':'100%'}"
                                            [ngClass]="{ 'is-invalid': f.EndDate.invalid && (f.EndDate.dirty || f.EndDate.touched) }">
                                        </p-calendar>
                                        <div *ngIf="f.EndDate.errors && (f.EndDate.dirty || f.EndDate.touched)" class="invalid-feedback">
                                            <div>La fecha fin es requerida</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h6>Precio</h6>
                                            <p-inputNumber  
                                                mode="decimal"
                                                [style]="{'width':'100%'}" 
                                                [inputStyle]="{'width':'100%'}"
                                                formControlName="Price"
                                                [ngClass]="{ 'is-invalid': f.Price.invalid && (f.Price.dirty || f.Price.touched) }">
                                            </p-inputNumber>
                                            <div *ngIf="f.Price.errors && (f.Price.dirty || f.Price.touched)" class="invalid-feedback">
                                                <div>El precio es requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h6>Número de Horas</h6>
                                            <p-inputNumber  
                                                mode="decimal" 
                                                [style]="{'width':'100%'}" 
                                                [inputStyle]="{'width':'100%'}"
                                                inputId="withoutgrouping" 
                                                formControlName="NumberHours" 
                                                [ngClass]="{ 'is-invalid': f.NumberHours.invalid && (f.NumberHours.dirty || f.NumberHours.touched) }">
                                                
                                            </p-inputNumber>
                                            <div *ngIf="f.NumberHours.errors && (f.NumberHours.dirty || f.NumberHours.touched)" class="invalid-feedback">
                                                <div>El número de horas es requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h6>Estado</h6>
                                            <select
                                                class="browser-default custom-select"
                                                formControlName="Status"
                                                [ngClass]="{ 'is-invalid': f.Status.invalid && (f.Status.dirty || f.Status.touched) }">
                                                <option value="N">En Negociación</option>
                                                <option value="P">En Proceso</option>
                                                <option value="T">Terminado</option>
                                                <option value="A">Anulado</option>
                                            </select>
                                            <div *ngIf="f.Status.errors && (f.Status.dirty || f.Status.touched)" class="invalid-feedback">
                                                <div>El estado es requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>     
                            </form>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-footer>            
        <button type="button" pButton (click)="displayModal=false;" label="Cerrar" class="ui-button-secondary"></button>
        <button 
            pButton 
            pRipple 
            type="button" 
            label="Guardar"             
            class="p-button-success"
            [disabled]="!myForm.valid"
            (click)="insertOrupdate()">
        </button>
    </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<ngx-ui-loader></ngx-ui-loader>
<p-toast></p-toast>